
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag ("logo3.jpeg"), class: "loogo navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-brand">
          <a target="_blank" href="https://geo.itunes.apple.com/us/artist/astraeus/1320703358?mt=1&app=music&itscg=30200&itsct=afftoolset_1&ls=1" style="display:inline-block;overflow:hidden;background:url(https://tools.applemusic.com/assets/shared/text-lockups/en-us/mono-white.svg) no-repeat;width:140px;height:30px;"></a>
        </li>
        <li class="navbar-brand">
        <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fastra_eus&color=white_transparent&size=32" style="width: 32px; height: 32px;"></iframe>
      </li>
        <a class="navbar-brand"><iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:7douBbmHBngTLkRcy7GqrG&size=basic&theme=light" width="200" height="28" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe></a>
        <li><a>Contact Me</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>








<div class="container-fluid">
<div class="topper">
  <div class="topleft">
    <%= image_tag ("logo2.jpeg"), class: "logoboxl" %>
    <div class="bioo">
      <center>
    <p>I AM ASTRAEUS</p>
  </center>
    <p>Welcome, I hope you find what you're looking for. Enjoy my work.</p>
  </div>
    <%= image_tag ("bio.JPG"), class: "bio" %>

  </div>


  <div class="topright">
    <%= image_tag ("logo2.jpeg"), class: "logoboxr" %>
    <div class="studvid">
    <center>
    <iframe width="500em" height="200em" src="https://www.youtube.com/embed/iuzk8PyEWa0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </center>
</div>
  </div>

</div>


<div class="boxcontainer">
  <div class="secondshelfleft">
    <center>
    <iframe width="75%" height="75%" src="https://www.youtube.com/embed/dJcBtZpetd8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </center>
  </div>

    <div class="secondshelfmidone">
      <center>
        
        <iframe width="75%" height="75%" src="https://www.youtube.com/embed/W5kIv0vv2AM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </center>
    </div>

      <div class="secondshelfmidtwo">
        <center>
          <iframe width="75%" height="75%" src="https://www.youtube.com/embed/bn97WVXcnKY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </center>
      </div>

        <div class="secondshelfmidthree">
          <center>
            <iframe width="75%" height="75%" src="https://www.youtube.com/embed/Vusrw059IwU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </center>
        </div>

          <div class="secondshelfright">
            <center>
              <iframe width="75%" height="75%" src="https://www.youtube.com/embed/jYr6jpxrQwM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </center>
          </div>
</div>

<div class="boxcontainer">
  <div class="thirdleft">
    
  </div>
  <div class="thirdright">
    
  </div>
</div>

<div class="boxcontainer">
  <div class="fourthleft">
    
  </div>
  <div class="fourthlefttwo">
    
  </div>
  <div class="fourthright">
    
  </div>
</div>





<div class="paddington"></div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="https://geo.itunes.apple.com/us/artist/astraeus/1320703358?mt=1&app=music&itscg=30200&itsct=afftoolset_1&ls=1" style="display:inline-block;overflow:hidden;background:url(https://tools.applemusic.com/embed/v1/app-icon.svg?hex=FFFFFF) no-repeat;width:40px;height:40px;"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fastra_eus&color=white_transparent&size=32" style="width: 32px; height: 32px;"></iframe></li>
      <li></li>
    </ul>
    </div>
</nav>

